<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bjut.printer2"
    android:versionCode="12"
    android:versionName="1.57">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="com.bjut.printer.application.MyApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar"
        tools:replace="icon,label,theme">
        <activity
            android:name="com.bjut.printer.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bjut.printer.activity.FileChooser"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.bjut.printer.activity.SetUpActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.bjut.printer.activity.DownloadActivity"
            android:screenOrientation="landscape" />

        <receiver
            android:name="com.bjut.printer.bean.LogAdd"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.bjut.printer.BroadCast.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service android:name="com.bjut.printer.services.ServerSocketService">

            <intent-filter>
                <action android:name="com.bjut.printer.services.ServerSocketService.LocalBinder" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </service>
        <service
            android:name="com.bjut.printer.services.CheckOrDownloadIntentService"
            android:exported="false" />

        <receiver
            android:name="com.bjut.printer.BroadCast.MechanicalStatusReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.bjut.printer.services.IOService"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="com.bjut.printer.services.IOService.IOBinder" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </service>

        <receiver
            android:name="com.bjut.printer.BroadCast.ErrorBroadCastReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.bjut.printer.BroadCast.StartSocketServiceReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.bjut.printer.BroadCast.WarningReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.bjut.printer.BroadCast.UpdateAPKReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.bjut.printer.activity.LevelingActivity" />

        <receiver
            android:name="com.bjut.printer.BroadCast.LevelingReceiver"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>